body {
    background: url("../images/dark-honeycomb.png");
    font-family: Georgia, Times, "Times New Roman", serif;
    margin: 15px;
    
}

#title {
    background-color: darkblue;
    height: 100px;
    padding-top: 20px;
    color: white;
    margin-bottom: 15px;
}

#instructions {
    background-color: tan;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
}

#random-title {
    background-color: green;
    color: white;
    height: 50px;
    padding-top: 12px;
}

#status-title{
    background-color: cyan;
    height: 50px;
    padding-top: 12px;
}

#score-title {
    background-color: teal;
    color: white;
    height: 50px;
    padding-top: 12px;
}

#random-box {
    background-color: green;
    height: 125px;
    color: white;
    padding-top: 30px;
}

#win-lose {
    background-color: cyan;
    height: 125px;
    padding-left: 105px;
    padding-top: 15px;
    font-size: 1em;
}

#wins,
#losses {
    font-size: 1.50em;
}

#score-box {
    background-color: teal;
    height: 125px;
    color: white;
    padding-top: 30px;

}

#crystal-1,
#crystal-2,
#crystal-3,
#crystal-4 {
    margin: 25px;
    width: 100px;
    height: 100px;
    
}
